.boards-container {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

.player-board,
.computer-board,
.setup-board {
	display: grid;
	grid-template-columns: repeat(10, auto);
	grid-template-rows: repeat(10, auto);
	gap: 1px;
}

.cell {
	outline: 1px solid black;
	position: relative;
	width: 40px;
	height: 40px;
}

.ship-hover {
	background-color: rgb(171, 134, 255);
}

.ship {
	background-color: rgb(119, 61, 255);
}

.cell.ship::before {
	content: '•';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 2rem;
}

.cell.hit {
	background-color: rgb(255, 61, 61);
	cursor: not-allowed;
}

.cell.hit::before {
	content: '✗';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 2rem;
}

.cell.miss {
	background-color: rgb(144, 137, 137);
	cursor: not-allowed;
}
